/*----------------Мобильное меню------------------*/
@media screen and (min-width:320px) and (max-width:1024px) {
  .grid_container{
    width: 100%;
    padding: 0 5vw;
  }
  
}
/*----------x--------------x---------------*/

@media screen and (min-width:320px) and (max-width:768px) {
  .grid_container{
    width: 100%;
    padding: 0 5vw;
  }
  
}
/*----------------ПЛАНШЕТ-------------*/
@media screen and (min-width:768px) and (max-width:1024px) {
  .grid_container{
    width: 100%;
    padding: 0 5vw;
  }
 
}
@media screen and (min-width:1024px) and (max-width:1199px) {
  .grid_container{
    width: 100%;
    padding: 0 5vw;
  }
  
  
}


@media screen and (min-width:1280px) {
 
}

















